
@{
    ViewBag.Title = "AboutUs";
}
<link href="~/Content/aboutus.css" rel="stylesheet" />

<section class="aboutus">
</section>

<header>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="intro-container">         
            <div class="intro-text">
                <h2>Who are we?</h2>
                <p>
                    Uber.al was found by an ethusiastic about innovation person in spring 2021.
                    <br />
                    The initial aim was to create a professional, yet helpful web application in Albania.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/Images/avatar1.jpg" alt="Avatar" class="avatar">
                        <h5>Team Member1</h5>
                        <h6>Title</h6>
                        <h6>member@email.com</h6>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/avatar1.jpg" alt="Avatar" class="avatar">
                        <h5>Team Member2</h5>
                        <h6>Title</h6>
                        <h6>member@email.com</h6>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/avatar1.jpg" alt="Avatar" class="avatar">
                        <h5>Team Member3</h5>
                        <h6>Title</h6>
                        <h6>member@email.com</h6>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/Images/avatar1.jpg" alt="Avatar" class="avatar">
                        <h5>Team Member4</h5>
                        <h6>Title</h6>
                        <h6>member@email.com</h6>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/avatar1.jpg" alt="Avatar" class="avatar">
                        <h5>Team Member5</h5>
                        <h6>Title</h6>
                        <h6>member@email.com</h6>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/avatar1.jpg" alt="Avatar" class="avatar">
                        <h5>Team Member6</h5>
                        <h6>Title</h6>
                        <h6>member@email.com</h6>
                    </div>
                </div>




            </div>
        </div>
    </div>
</header>



